name: Commit Lint

on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened, edited ]

permissions:
  contents: read
  pull-requests: read

jobs:
  commitlint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 20

      - name: Install commitlint
        run: |
          npm install --save-dev \
            @commitlint/cli@19 \
            @commitlint/config-conventional@19

      - name: Validate PR title
        run: echo "${{ github.event.pull_request.title }}" | npx commitlint

      - name: Lint commit messages
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
